<div id="FormApp" class="container mt-5 mb-5">
    <div class="row p-2">
      <div class="col-12 col-md-8 col-lg-6 shadowx m-auto p-3 pb-5">
        <form id="formdata" action="#" method="post" class="text-center">
          <code class="pb-3 fw-semibold fs-5">User Login</code>
          <a href="/au/reg/" class="pb-3 mt-3 d-block">Return Regform</a>


          <div class="input-group mt-2">
            <span class="input-group-text">Email</span>
            <input type="text" placeholder="user@admin.com" name="email" class="form-dev form-control" required>
          </div>
          <div class="input-group mt-3">
            <span class="input-group-text">Password</span>
            <input id="password" type="password" placeholder="user@admin.com" name="password" class="form-control" required>
           
          </div>
          <div class="p-2 mt-4">
            <button id="submitbtn" type="submit" class="btn fw-bold fs-3 btn-sm w-50"><code>Login</code></button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script>
    $('#formdata').on('submit', (event) => {
    event.preventDefault()

    $.ajax({
        method: "POST",
        url: "/au/loginCheckoutUserData/",
        data: $('#formdata').serialize(), 
        dataType: "JSON",

        beforeSend: function () {
            $('.submitbtn').addClass('disabled');
        },
        success: function (res) {
            _msg_pull('alert-info', res.msg);
            $('.submitbtn').removeClass('disabled');

          if(res.status==200){
            
           return window.location.replace('/user/dashboad/')
           }
        },
        error: function (xhr, status, error) {
            console.error( error);
          
        }
    });
});
  </script>